<!-- 可视化静态页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCNU_CAMPUS_COST</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <div class="header">
        <div class="pic"></div>
        <div class="input">
            <input type="text" name="name" id="name">
            <input type="text" name="stuId" id="stuId">
        </div>
    </div>
    <div class="cf"></div>
    <div class="content">
        <div class="data">
            <h1>可视化内容</h1>
        </div>
    </div>
    <div class="footer">
        <p>&copy;2020 CCNU_CAMPUS_COST.com 京ICP备13046642号o(*￣▽￣*)ブ</p>
    </div>
</body>
</html>