<!-- 可视化静态页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>CCNU_CAMPUS_COST</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <!-- <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.get("http://api.tianapi.com/txapi/ncovcity/index?key=3e26d27ac31d3d77789885a711142326",
                function(data,status){
		            console.log(data);
		            $('#result').append(JSON.stringify(data)); //返回内容绑定到ID为result的标签
                    alert("状态码：" + data.code + "\n消息：" + data.msg);
                });
            });
        });
    </script> -->
</head>
<body>
    <div class="header">
        <div class="pic"></div>
        <div class="input">
            <div>
                <input type="text" name="name" id="stuName" placeholder="姓名">
                <p  class="info" id="stuName_info"></p>
            </div>
            <div>
                <input type="text" name="stuId" id="stuId" placeholder="学号">
                <p class="info" id="stuId_info"></p>
            </div>
            <p class="button">
                <a href="javascript:void(0)" id="sigup-btn" class="btn">查询</a>
            </p>
        </div>
    </div>
    <div class="cf"></div>
    <div class="rank">
        <!-- <h1>排行榜</h1> -->
        <div class="data_first">
            <div class="cost_most" id="cost_most"></div>
        </div>
        <div class="data_second">
            <div class="costumeCount" id="costumeCount"></div>
        </div>
        <!-- <button>get</button>
        <div id="result"></div> -->
        <!-- <div class="wordcloud"></div> -->
    </div>
    <div class="cf"></div>
    <div class="content">
        <div class="contentShow" id="contentShow">
            <p class="summery"><span></span>个人年度总结</p>
            <div class="summery_left">
                <div>
                    <p>亲爱的：<span id="name"></span></p>
                    <p>在2019-2020的一年中</p>
                    <p>您一共消费了<span id="costSum"></span>。最爱的是<span id="resLove"></span>的<span id="placeLove"></span></p>
                    <p>您的第一笔消费是<span id="timeFirst"></span>,在<span id="resFirst"></span>的<span id="placeFirst"></span></p>
                    <p>您的最后一笔消费是<span id="timeLast"></span>,在<span id="resLast"></span>的<span id="placeLast"></span></p>
                </div>
            </div>
            <div class="summery_right"></div>
        </div>
        
        <!-- 未构造完成 -->
        <!-- <div class="data">
            <div class="data_left">
                <div id="l1"></div>
                <div id="l2"></div>
            </div>
            <div class="data_right">
                <div id="r1"></div>
                <div id="r2"></div>
            </div>
        </div> -->
    </div>
    <div class="footer">
        <p>&copy;2020 CCNU_CAMPUS_COST.com 京ICP备13046642号o(*￣▽￣*)ブ</p>
    </div>
    <script src="../static/js/staticCostMost.js"></script>
    <script src="../static/js/staticCostumeCount.js"></script>
    <script src="../static/js/login.js"></script>
</body>
</html>